.Logo {
    max-width: 110px;
    position: absolute;
    left: 5px;
    top: 20px;
}

.Menu {
  width: 100%;
  height: var(--menu-height-size-larger);
  z-index: 100;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 5%;
  padding-right: 5%;
  
  background: var(--color-white-medium);
  border-bottom: 2px solid var(--color-blue-medium);
}

@media (max-width: 800px) {
  .Logo {
    max-width: 80px;
    position: relative;
    top: 0;
    left: 0;
  }
  .Menu {
    height: var(--menu-height-size-small);
    justify-content: center;
    align-items: center;
  }
  .Menu .header-text{
    font-size: large;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--color-blue-medium);
    color: var(--color-white-primary);
    border-radius: 0;
    border: 0;
    text-align: center;
  }
  
  .Menu .header-text h1{
    padding: 0 0.4rem;
  }
  
  .Menu .header-text h3{
    font-size: medium;
  }
}