#page-subscribe{
    background: var(--color-white-primary);
    width: 100vw;
    height: 100%;
    margin-top: 6.5rem;
}

#page-subscribe .body{
    display: flex;
}


#page-subscribe .form-container{
    position: fixed;
    z-index: 999;
    width: 90%;
    background: var(--color-white-lighter);
    margin: 1rem 1.5rem;
    border: 1px solid var(--color-white-dark);
    padding: 0.5rem;
    border-radius: 0.8rem ;
    display: flex;
    flex-direction: column;
}


#page-subscribe .body .form-container button{
    background:var(--color-blue-primary);
    padding: 0.4rem;
    margin-right: 0.3rem;
    width: 100%;
    height: 3rem;
    border-radius: 0.8rem;
}

#page-subscribe .body button p{
    color: var(--color-white-lighter);
}

#page-subscribe .body .form-questions{
    width: 90%;
    background: var(--color-white-lighter);
    margin: 23rem 1.5rem auto ;
    border: 1px solid var(--color-white-dark);
    padding: 0.5rem;
    border-radius: 0.8rem ;
    display: flex;
    flex-direction: column;
}


@media(min-width: 800px){
    #page-subscribe .body {
        background: var(--color-white-lighter);
        margin: auto 1.5rem;
        border: 1px solid var(--color-white-dark);
        padding: 0.5rem;
        border-radius: 0.8rem ;
        display: flex;
        flex-direction: row;
    }
    #page-subscribe .body .form-container{
        display: flex;
        flex-direction: row;
    }
}