#page-subscribe{
    background: var(--color-white-primary);
    width: 100vw;
    height: 100%;
    margin-top: calc(var(--menu-height-size-larger) + 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-subscribe .form-container{
    background: var(--color-white-lighter);
    padding: 0.5rem;
    border: 1px solid var(--color-white-dark);
    border-radius: 0.8rem;
    width: 90vw;
}

#page-subscribe .form-container .save-button{
    margin-bottom: 5rem;
}

#page-subscribe .form-questions{
    background: var(--color-white-lighter);
    padding: 0.5rem;
    border: 1px solid var(--color-white-dark);
    border-radius: 0.8rem;
    width: 90vw;
    margin-top: 1rem;
    margin-bottom: 5.5rem;
}

#page-subscribe .body button{
    background:var(--color-blue-primary);
    padding: 0.4rem;
    margin-right: 0.3rem;
    width: 100%;
    height: 3rem;
    border-radius: 0.8rem;
}

#page-subscribe .form-questions button{
    margin-top: 1.5rem;
}

@media(min-width: 800px){
    #page-subscribe{
        background: var(--color-white-primary);
        width: 100vw;
        height: 100%;
        margin-top: calc(var(--menu-height-size-small) + 15rem);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #page-subscribe .form-container{
        max-width: 800px;
        position: relative;
    }
    #page-subscribe .form-container .save-button{
        margin-bottom: 0;
    }

    #page-subscribe .form-main,
    #page-subscribe .form-complemento{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #page-subscribe .form-questions{
        max-width: 800px;
        margin-top: 3.5rem;
        margin-bottom: 5.5rem;
    }
    #page-subscribe .body button{
        background:var(--color-blue-primary);
        padding: 0.8rem;
        margin-right: unset;
        width: unset;
        height: unset;
        border-radius: 0.8rem;
    }

    #page-subscribe .form-questions button{
        margin-top: 1.5rem;
        width: 100%;
    }
}