#page-subscribe{
    background: var(--color-white-lighter);
    width: 100vw;
    height: 100%;
    margin-top: calc(var(--menu-height-size-larger) + 5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-subscribe .form-main{
    display: flex;
    flex-direction: column;
}

#page-subscribe .form-main .inputCPF{
    display: flex;
    flex-direction: column;
}

#page-subscribe .form-container{
    background: var(--color-box-itens);
    padding: 1rem;
    border: none;
    border-radius: 0.8rem;
    width: 80vw;
}

#page-subscribe .form-container .campo{
    background-color: var(--color-white-lighter);
    border-radius: 1.5rem;
}

#page-subscribe .save-button{
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
    background-color: var(--color-button-main);
    color: var(--color-white-lighter);
}

#page-subscribe .form-questions{
    background: var(--color-box-itens);
    padding: 0.5rem;
    border: none;
    border-radius: 0.8rem;
    width: 80vw;
    margin-top: 1rem;
    margin-bottom: 5.5rem;
}

#page-subscribe .body button{
    padding: 0.4rem;
    margin-right: 0.3rem;
    width: 100%;
    height: 3rem;
    border-radius: 0.8rem;
}

#page-subscribe .form-questions button{
    margin-top: 1.5rem;
}

@media(min-width: 800px){
    #page-subscribe{
        width: 100vw;
        height: 100%;
        margin-top: calc(var(--menu-height-size-small) + 15rem);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #page-subscribe .form-main{
        display: flex;
        flex-direction: row;
    }
    
    #page-subscribe .form-main .inputCPF{
        display: flex;
        flex-direction: row;
    }

    #page-subscribe .form-container{
        max-width: 800px;
        position: relative;
    }

    #page-subscribe .form-container .save-button{
        margin-top: 2rem;
        margin-left: 0.5rem;
        margin-bottom: 0;
        max-height: 3.5rem;
        align-items: center;
        justify-items: center;
    }

    #page-subscribe .form-main,
    #page-subscribe .form-complemento{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #page-subscribe .form-questions{
        max-width: 800px;
        margin-top: 3.5rem;
        margin-bottom: 5.5rem;
    }
    #page-subscribe .body button{
        padding: 0.8rem;
        margin-right: unset;
        width: unset;
        height: unset;
        border-radius: 0.8rem;
    }

    #page-subscribe .form-questions button{
        margin-top: 1.5rem;
        width: 100%;
    }
}