#input-container{
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: column;
}

#input-container input{
    border-radius: 0.4rem;
    border: none;
    height: 3.5rem;
    padding-left: 0.5rem;
    background: var(--color-white-primary);
}

#input-container .input-error{
    color:white;
}

.error{
    background-color: tomato;
}