* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
}

:root {
  --menu-main-pages: #144F60;

  --color-box-text: #CDE3E9;
  --color-box-itens: #E6EAEB;
  --color-box-item: #F2F2F2;
  
  --color-text-strong: #144F60;
  --color-text-medium: #28748A;
  --color-text-simple: #000000;
  --color-text-destak: #77939C;

  --color-button-main: #28748A;



  --menu-height-size-larger: 110px;
  --menu-height-size-small: 90px;

  --color-white-lighter: #FFFFFF;
  --color-white-primary: #EAEAEA;
  --color-white-medium: #B1B2B7;
  --color-white-dark: #84858A;
  --color-white-black: #2C2D2F;

  --color-gray-lighter: #C6C8D5;
  --color-gray-primary: #9B9EAD;
  --color-gray-medium: #616475;
  --color-gray-dark: #3E4359;
  --color-gray-black: #1A1C27;

  --color-violet-lighter: #CABBD2;
  --color-violet-primary: #856D8D;
  --color-violet-medium: #6A4E77;
  --color-violet-dark: #594664;
  --color-violet-black: #221A27;

  --color-orange-lighter: #FFCDC2;
  --color-orange-primary: #FB8368;
  --color-orange-medium: #FF6A49;
  --color-orange-dark: #E3411B;
  --color-orange-black: #552416;

  --color-blue-lighter: #BDC5EC;
  --color-blue-primary: #98A3DB;
  --color-blue-medium: #5b5b5d;
  --color-blue-dark: #354286;
  --color-blue-black: #1B2143;
    
}


html, body, #root {
  height: 100vh;
}

body{
  background: var(--color-white-lighter);
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
}

body, input, button, textarea {
  font: 400 1.6rem Roboto;
  color: var(--black);
}

.container{
 width: 90vw;
 max-width: 800px;
}

@media(min-width: 800px){
  :root{
      font-size: 62.5%;
  }
}